{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="profile_label">
        <div class="profile_label1">
            <h1>ЭкоПрофиль</h1>
        </div>
    </div>
    <div class="profile_label_bg" style="padding-top: 1%">
        <div class="profile_img profile_photo">
            <img src="{% static 'images/mvp.jpg' %}"/>
        </div>
        <div class="profile_name_email">
            <h3>{{ request.user.username }}</h3>
            <h3>{{ request.user.email }}</h3>
        </div>
    </div>

{% endblock %}