body {
    margin: 0;
}

@font-face {
    font-family: light ;
    src: url(fonts/Neris-Light.otf);
}

@font-face {
    font-family: medium;
    src: url(fonts/Neris-SemiBold.otf)
}

.main_menu{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    justify-content: space-between;
    font: 18px light;
    padding-top:10px;
    padding-bottom: 10px;
    height: 30px
}

.main_menu img {
    width: 50px;
    text-align: center;
    padding-right: 16%;
    margin: 0;
    border: none;
}

.main_menu a {
    text-decoration: none;
    color: #777612;
}

.main_menu a:active {
    color: #ffb600;
}

.forma {
    padding-top: 20%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all .2s ease-out;
}

.forma form {
    width: 45%;
}

.forma input {
    display: inline-block;
  width: 100%;
  height: 42px;
  padding-left: 25px;
    border-left: 2px solid #7BA7AB;
    border-right: 2px solid #7BA7AB;
    border-top: 2px solid #7BA7AB;
    border-bottom: 2px solid #7BA7AB;
  border-radius: 40px;
  outline: none;
  background: rgba(255, 255, 255, 0.75);
  color: #9E9C9C;
    font-size: 160%;
    transition: all .2s ease-out;
}

.forma:focus-within input, .forma:focus-within {
    border-radius: 40px 40px 0 0;
    border-bottom: none;
}

#search::-webkit-search-cancel-button {
    position: relative;
    right: 2%;
}

.forma:focus-within, .forma .objects:focus-within {
    padding-top: 2%;
}

.forma .objects {
    display: block;
    transform: scaleY(0);
    position: absolute;
    top: 100%;
    border-left: 2px solid #7BA7AB;
    border-right: 2px solid #7BA7AB;
    border-bottom: 2px solid #7BA7AB;
    border-radius: 0 0 40px 40px;
    width: 44.75%;
    background: rgba(255, 255, 255, 0.75);
    transform-origin: 0 0;

    transition: all 0.2s ease-out;
    max-height: 700%;
}

.forma .objects ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 30px;
    align-items: center;
    padding: 5% 10% 5% 10%;
    flex-wrap: wrap;
}

.forma:focus-within .objects{
    display: block;
    transform: scaleY(1);
}

.forma button {
  position: absolute;
  width: 42px;
  height: 42px;
  border: none;
  background: #7BA7AB;
  border-radius: 40px 40px 40px 40px;
  cursor: pointer;
    outline: none;
}

.forma button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: -100;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #2be575 5%, #fcf1db 100%);
    z-index: -1;
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
   animation: move_wave 15s linear infinite;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 20s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 25s linear infinite;
}

.login-style, .signup-style {
    font-family: light;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2%;
    color: #454444;
    font-size: 20px;
}

.login-style h1, .signup-style h1 {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 30px;
}

.password_reset > a{
    text-decoration: none;
}

.password_reset {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn-reg, .btn-login {
    display: flex;
    font-size: 20px;
    padding-bottom: 1%;
    border: 10px solid rgb(250, 229, 218);
    background-color: rgb(255, 255, 255);
    font-family: light;
    border-radius: 40px;
    width: 75px;
    /*height: 2%;*/
    cursor: pointer;
}

.btn-reg::before, .btn-reg::after, .btn-login::before, .btn-login::after {
    content: "";
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    display: inline-block;
    padding: 5px;
    margin: 15% 10% 10% 5%;
}

.btn-reg:hover::after, .btn-login:hover::after {
    animation: moving 1.5s infinite;
}

.btn-reg:hover::before, .btn-login:hover::before {
    animation: moving 1.5s infinite;
    animation-delay: 0.1s;
}

@keyframes moving {
    from {
        border: solid black;
        border-width: 0 3px 3px 0;
        transform: translateY(0%) rotate(-45deg);
    }
    25% {
        border: solid #36f383;
        border-width: 0 3px 3px 0;
        transform: translateY(-30%) rotate(-45deg);
    }
    75% {
        border: solid black;
        border-width: 0 3px 3px 0;
        transform: translateY(0%) rotate(-45deg);
    }
}

.deactive {
    display: none;
    visibility: hidden;
}

.lable {
    /*display: flex;*/
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 70%;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.flip-card {
    font-family: light;
    position: relative;
    width: 100%;
    height: 100%;
    transform-style:preserve-3d;
    transition: all 0.5s ease-in-out;
    z-index: 1;
    padding-bottom: 2%;
}

.flip-card .front,
.flip-card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: white;
    backface-visibility: hidden;
    border-radius: 40px;
     border: 1px solid #828282;
    box-shadow: 2px 4px 10px #828282;
    padding: 2% 2% 2% 2%;
}

.front > .list > .level{
    display: inline-block;
    position:absolute;
    bottom:2%;
    right:2%;
    width: 5%;
    transform: rotateX(2deg);
}

.list:hover::after{
    content: attr(data-title);
    position: absolute;
    bottom: 7%;
    right: 6%;
    z-index: 8;
    background: rgb(255, 247, 247);
    font-size: 11px;
    padding: 5px 10px;
    border: 1px solid #333;
}

.flip-card .back{
    transform: rotateX(180deg);
    color: #000;
    background: white;
}

/*label:hover .flip-card{*/
/*    transform: rotateX(2deg);*/
/*    !* box-shadow: 0 20px 20px #000; *!*/
/*}*/

label input {
    display: none;

}

:checked + .flip-card{
    transform: rotateX(180deg);
}

/*label:hover :checked + .flip-card{*/
/*    transform: rotateX(175deg);*/
/*    !* box-shadow: 0 20px 20px #000; *!*/
/*}*/

.front-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.front-inf{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 550px;
    align-items: center;
}

.photo {
    border-radius: 40px; /* Радиус скругления */
    border: 0px solid white; /* Параметры рамки */
}

.profile_label{
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

.profile_label1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1%;
}

.profile_label h1{
    color: #454444;
}

.profile_label_bg{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1%;
}
.profile_img{
    width: 40%;
}
.profile_img img{
    width: 100%;
    border-radius: 30px 10px 10px 10px;
}

.profile_photo{
    margin-right: 5%;
    margin-left: 3%;
}

.profile_name_email{
    margin-right: 20%;
}