{% extends 'base.html' %}
{% load static %}

{% block content %}
    <label class="lable">
        <input type="checkbox" />
        <div class="flip-card">
            <div class="front">
                <div class="list" data-title="Упаковка сложно перерабатывается">
                <img src="{% static 'images/klen-red.png' %}" class="level"/>
                </div>
                <div class="front-cont">
                    <img src="{% static 'images/бутылка.jpg' %}" width="50%" class="photo"/>
                    <div class="front-inf">
                        <span style="font-size: 30px;">Pulpy</span>
                        <div style="display: flex; align-items: center; flex-direction: column;">
                            <span style="font-size:24px; padding-bottom: 2%;">Тип материала</span>
                            <span style="font-size:24px;">Пластик</span>
                        </div>
                            
                             <img src="{% static 'images/1-pet.jpg' %}" width="50%">
                               

                    </div>
                </div>
            </div>
        
            <div class="back">
                <h1>back</h1>
                <p class="click">flip</p>
            </div>
        </div>
    </label>

{% endblock %}